


.sign-in-btn{
  @apply
  text-gray-500
  dark:text-gray-300
  hover:bg-primary
  hover:bg-opacity-20
  max-w-max mt-4 bg-transparent rounded-full border border-gray-9 px-3 py-2 flex items-center;

  
}