
.navigation{
  box-shadow: 0 0px 8px 0px #707070,  0px 1px 8px 0px #818181, 0 0px 2px 1px #81818142;
  width: 100%;
  padding: 0px 0px;
  z-index: 1000;
  min-height: 50px;
  @apply bg-primary;
  position: fixed;
  top: 0;
  left: 0;
  .navigation__container{
    max-width: 1200px;
    margin: auto;
  }
  .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
    .nav-item{
      padding: 10px;
      a{
        color: white;
      }
    }
  }
}
.input{
  input{
    &::placeholder{
      color: white;
    }
  }
}

.nav_items{
  .nav_item{
    padding: 0px 15px;
  }
  .avatar_logo{
    padding: 0 !important;
    width: 30px;
    display: flex;
      margin-left: 10px;
    img{
      border-radius: 100%;
      width: 100%;
      display: flex;
    }
  }
  i{
    //top: 10px;
    font-size: 18px;
    color: white;
  }
}

.auth_nav{
  display: flex;
}

.dropdown_nav{
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1232139872734;
  box-shadow: 1px 3px 10px -1px #484848a6, 1px 3px 5px -1px rgba(220, 220, 220, 0.65), 0px 2px 8px -1px rgba(138, 138, 138, 0.65);
  background: rgb(255, 255, 255);
  li{
    padding: 3px 10px;
    &:hover{
      background: var(--primary);
      cursor: pointer;
    }
  }
}

.nav-search-input_wrapper{
  display: flex;
  background: rgba(243, 243, 243, 0.26);
  align-items: center;
  padding: 0 10px;
  color: #efefef;
  border-radius: 4px;
}



.nav-search-input{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  border: none;
  outline: none;
  background: transparent;
  &::placeholder{
    color: inherit;
  }
}

.brand{
  margin-right: 20px;
  h4{
    font-size: 25px;
    color: white;
    white-space: nowrap;
    a{
      color: inherit;
    }

  }
}