node_modules
previews
dist
deploy.sh
cache

# Local Netlify folder
.netlify

"@fortawesome/fontawesome-svg-core": "^1.2.36",
"@fortawesome/free-solid-svg-icons": "^5.15.4",
"@fortawesome/pro-duotone-svg-icons": "5.15.4",
"@fortawesome/pro-light-svg-icons": "5.15.4",
"@fortawesome/pro-regular-svg-icons": "5.15.4",
"@fortawesome/pro-solid-svg-icons": "5.15.4",
"@fortawesome/pro-brands-svg-icons": "5.5.0",
"@fortawesome/react-fontawesome": "^0.1.16",
n.html
.idea