$color-primary: rgba(111, 114, 216, 1);
$color-white: #fff;
$color-gray-1: #e7e7e7;
$color-gray-10: #383838;

:root {
  --primary: #{$color-primary};
  --white: #{$color-white};
  --gray-1: #{$color-gray-1};
  --gray-10: #{$color-gray-10};
}


$screen-xs-min: 480px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1600px;

