.files_table{
  border-collapse: collapse;
  width: 100%;
  th{
    background: #7e86e0;
    color: white;
    font-weight: 400;
    padding: 5px 10px;
  }
}

.file_content{
  pre{
    white-space: pre-wrap;
  }
}
.editor{
  border: 2px solid #6997ec;
  outline: none;
  width: 100%;
  min-height: 400px;
  padding: 5px
}